body {
	background: url("../images/whitey.png");
}

.container {
	padding: 20px;
}

.jumbotron {
	background-color: #fff;
	height: 150px;
}

.jumbotron h1 {
	margin: auto;
	color: #2F6FB9;
}

#playerButtons {
	margin-bottom: 50px;
	padding: 0;
}

#input {
	float: right;
	padding: 0;
	margin-bottom: 50px;
}

input {
	border-radius: 5px;
}

.btn-primary {
	margin-top: 10px;
	margin-right: 10px;
}

#topic {
	width: 284px;
}

#playerLounge {
	float: left;
	padding: 0;
}

.item {
	float: left;
	padding: 10px 10px 10px 0;
}

p {
	font-size: 12px;
	font-family: 'Abril Fatface', cursive;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	font-size: 12px;
	font-family: 'Abril Fatface', cursive;
	color: #fff;
	text-align: center;
}


/***Media Query**/

@media screen and (max-width: 768px) {

html {
	background: #2F6FB9;
}

.jumbotron {
	background-color: #fff;
	height: 100px;
}

#playerButtons {
	margin-bottom: 20px;
}

#input {
	float: left;
	margin-bottom: 50px;
}

#topic {
	width: 350px;
}

#playerLounge {
	margin-bottom: 200px;
}

}




@media screen and (max-width: 640px) {

html {
	background: #2F6FB9;
}

.jumbotron {
	background-color: #fff;
	height: 100px;
}

#playerButtons {
	margin-bottom: 20px;
}

#input {
	float: left;
	margin-bottom: 50px;
}

#topic {
	width: 374.4px;
}

#playerLounge {
	margin-bottom: 200px;
}

}