html {
	background: #2F6FB9;
}

body {
	background: url("../images/whitey.png");
}

.container {
	padding: 20px;
}

.jumbotron {
	background-color: #fff;
	height: 150px;
}

.jumbotron h1 {
	margin: auto;
	color: #2F6FB9;
}

#playerButtons {
	margin-bottom: 50px;
	padding: 0;
}

#input {
	float: right;
	padding: 0;
}

input {
	border-radius: 5px;
}

.btn-primary {
	margin-top: 10px;
	margin-right: 10px;
}

#topic {
	width: 280px;
}

#playerLounge {
	float: left;
	padding: 0;
}

.item {
	float: left;
	padding: 10px 10px 10px 0;
}

footer {
	background: #2F6FB9;
	font-family: 'Abril Fatface', cursive;
	color: #fff;
	text-align: center;
	margin-top: 200px;
	padding: 45px;
}


/***Media Query**/

@media screen and (max-width: 768px) {

.jumbotron {
	background-color: #fff;
	height: 100px;
}

#playerButtons {
	margin-bottom: 20px;
}

#input {
	float: left;
}

#topic {
	width: 350px;
}

#playerLounge {
	margin-bottom: 210px;
}

footer {
	background: #2F6FB9;
	font-family: 'Abril Fatface', cursive;
	color: #fff;
	text-align: center;
	margin: auto;
}


}




@media screen and (max-width: 640px) {

.jumbotron {
	background-color: #fff;
	height: 100px;
}

#playerButtons {
	margin-bottom: 20px;
}

#input {
	float: left;
}

#topic {
	width: 374.4px;
}

#playerLounge {
	margin-bottom: 210px;
}

footer {
	background: #2F6FB9;
	font-family: 'Abril Fatface', cursive;
	color: #fff;
	text-align: center;
	margin: auto;
}

}
