body {
	background: url("../images/whitey.png");
}

#playerButtons {
	margin-bottom: 50px;
}

#input {
	float: right;
}

input {
	border-radius: 5px;
}

.btn-primary {
	margin-top: 10px;
	margin-right: 10px;
}

#topic {
	width: 200px;
}

#playerLounge {
	float: left;
	padding: 0;
}

.item {
	float: left;
	margin: 10px;
}